[submodule "dnace"]
	path = dnace
	url = https://github.com/HealthHackAu2016/DNACE
[submodule "yolograph"]
	path = yolograph
	url = https://jhornitzky@github.com/jhornitzky/yolograph.git
[submodule "hashtagoflife"]
	path = hashtagoflife
	url = https://jhornitzky@github.com/jhornitzky/hashtagoflife.git
