[submodule "bloom"]
	path = bloom
	url = https://jhornitzky@github.com/jhornitzky/bloom.git
[submodule "dnace"]
	path = dnace
	url = https://github.com/HealthHackAu2016/DNACE
[submodule "yolograph"]
	path = yolograph
	url = https://jhornitzky@github.com/jhornitzky/yolograph.git
