body {
	background-position: center center;
	background-repeat: no-repeat;
	font-family: 'Helventica Neue', Arial;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	font-weight: lighter;
}

h1 {
	font-size: 5rem;
	margin-bottom: 0;
}

h2 {
	font-size: 3rem;
	margin-bottom: 0;
}

.page {
	width: 960px;
	margin: 0 auto;
	max-width: 100%;
}

.new-bits {
	display: flex;
	flex-wrap: wrap;
}

.hover-item {
	margin: 0.5rem;
	margin-left: 0;
	margin-bottom: 0;
	text-align: left;
	width: 27%;
	color: #FFF;
	background-color: #DDD;
	padding: 1rem;
}

@media screen and (max-width: 480px) {
	.new-bits {
		display: block;
		flex-wrap: nowrap;
	}

	.hover-item {
		width: 100%;
		display: block;
	}
}

.hover-item.header {
	background-color: transparent;
	color: #000;
	font-size: 2rem;
	font-weight: lighter;
}

.hover-item a {
	color: #FFF;
}

.hover-item a:hover {
	text-shadow: 0 0 20px #FFF;
}

.hover-item .header a {
	font-size: 2rem;
	text-transform: lowercase;
}

.hover-item .desc {
	font-size: 0.9rem;
}

.hover-item.exp a {
	color: #555;
	font-weight: bold;
}

.hover-item.exp a:hover {
	color: rgb(27, 161, 226);
}

.wblue {
	background-color: rgb(27, 161, 226);
}

.wdblue {
	background-color: rgb(07, 141, 206);
}

.worange {
	background-color: rgb(240, 150, 9);
}

.wgreen {
	background-color: rgb(51, 153, 51);
}

.wred {
	background-color: rgb(229, 20, 0);
}

.wlime {
	background-color: rgb(140, 191, 38);
}

.wteal {
	background-color: rgb(0, 171, 169);
}

.wborder {
	background-color: #AAA;
}

.wnoborder {
	background-color: transparent;
}

.wborder:hover {
	background-color: rgba(0, 0, 0, 0.3);
}